Repository joebumbulis/button_react_2: changes, and which CircleCI parameters are due for each by the changed paths.
All: test-src, back-end, circle-ci, kubes

adds back end updates
  back-end/README.md
Due: back-end

fails test in app.js
  src/App.js
Due: test-src

fixes failing test
  src/App.js
Due: test-src

adds div
  src/App.js
Due: test-src

updates failures
  src/App.js
Due: test-src

add fake classname
  src/button.js
Due: test-src

adds third button
  src/App.js
Due: test-src

adds correct button name
  src/App.js
Due: test-src

fixes new button
  src/App.js
Due: test-src

adds oidc job to test
  .circleci/config.yml
Due: circle-ci

updated role arn in context and command
  .circleci/config.yml
Due: circle-ci

adding first policy, version
  .circleci/config.yml
  ci_policies/version.rego
Due: circle-ci

comments our policy line
  .circleci/config.yml
Due: circle-ci

updated cli token
  .circleci/config.yml
Due: circle-ci

changes button to test pipeline
  src/App.js
Due: test-src

uncomments policy
  .circleci/config.yml
Due: circle-ci

comments policy
  .circleci/config.yml
Due: circle-ci

add space
  .circleci/config.yml
Due: circle-ci

updates token API
  .circleci/config.yml
Due: circle-ci

updates exec
  .circleci/config.yml
Due: circle-ci

adds run policy
  .circleci/config.yml
Due: circle-ci

deletes policy job
  .circleci/config.yml
Due: circle-ci

changes config version to 2.0 for testing policies
  .circleci/config.yml
Due: circle-ci

updates config
  .circleci/config.yml
Due: circle-ci

updates test job resources class to xl
  .circleci/config.yml
Due: circle-ci

updates button to fail test
  src/App.js
Due: test-src

fixes button failure
  src/App.js
Due: test-src

breaks button for test failure demo
  src/App.js
Due: test-src

fixes button to pass
  src/App.js
Due: test-src

adds path filtering for monorepo support
  .circleci/config.yml
Due: circle-ci

breaks button
  src/App.js
Due: test-src

fixes broken button
  src/App.js
Due: test-src

adds new button
  src/App.js
Due: test-src

fix: package.json & package-lock.json to reduce vulnerabilities
  package-lock.json
  package.json
Due: none

deletes path filtering
  .circleci/config.yml
Due: circle-ci

deletes hard fail
  ci_policies/version.rego
Due: none

updates version to fail
  .circleci/config.yml
  ci_policies/version.rego
Due: circle-ci

adds snyk orb to cpm
  .circleci/config.yml
  ci_policies/require_orbs.rego
  ci_policies/version.rego
Due: circle-ci

Path conditions:
  test-src: any of: src/.*
  back-end: any of: back-end/.*
  circle-ci: any of: .circleci/.*
  kubes: any of: kubernetes/.*
