Repository joebumbulis/button_react_2: changes, and which CircleCI parameters are due for each by the changed paths.
All: test-src, back-end, circle-ci, kubes

.circleci/config.yml:

# setup workflows 
version: 2.1 

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.0.2

workflows:
  setup-workflow:
    jobs:
      - path-filtering/filter:
          mapping: |
            src/.* test-src true
            back-end/.* back-end true
            .circleci/.* circle-ci true
            kubernetes/.* kubes true 
          # Optional, defaults to main:
          base-revision: origin/main

adds machine back
  .circleci/config.yml
Due: circle-ci

PP-1 deletes button titles and implements jira key
  src/App.js
Due: test-src

PP-1 fixes button titles and implements jira key
  src/App.js
Due: test-src

fails test
  src/App.js
Due: test-src

passes tests
  src/App.js
Due: test-src

updates snyk config
  .circleci/config.yml
Due: circle-ci

fails tests with deleted titles
  src/App.js
Due: test-src

fixes tests
  src/App.js
Due: test-src

fix: package.json & package-lock.json to reduce vulnerabilities
  package-lock.json
  package.json
Due: none

adds new lock file for package.json
  .eslintcache
  package-lock.json
Due: none

deletes machine for deploy
  .circleci/config.yml
Due: circle-ci

deletes gke machine size
  .circleci/config.yml
Due: circle-ci

updates npm
  .circleci/config.yml
  package-lock.json
Due: circle-ci

changes to lint
  .eslintcache
Due: none

deletes code for preview
  src/App.js
Due: test-src
