Repository joebumbulis/button_react_2: changes, and which CircleCI parameters are due for each by the changed paths.
All: test-src, back-end, circle-ci, kubes

deletes snyk orb
  .circleci/config.yml
Due: circle-ci

adds snyk back in
  .circleci/config.yml
Due: circle-ci

deletes snyk
  .circleci/config.yml
Due: circle-ci

adds snyk back
  .circleci/config.yml
Due: circle-ci

breaks test
  src/App.js
Due: test-src

fixes test
  src/App.js
Due: test-src

comments out snyk cmd
  .circleci/config.yml
Due: circle-ci

deletes snyl
  .circleci/config.yml
Due: circle-ci

adds snyk in
  .circleci/config.yml
Due: circle-ci

fails test
  src/App.js
Due: test-src

pass test
  src/App.js
Due: test-src

broken
  src/App.js
Due: test-src

fixed
  src/App.js
Due: test-src

fix: package.json & package-lock.json to reduce vulnerabilities
  package-lock.json
  package.json
Due: none

adds when for main branch
  .circleci/config.yml
Due: circle-ci

deletes or clause
  .circleci/config.yml
Due: circle-ci

deletes when conditional logic
  .circleci/config.yml
Due: circle-ci

adds when conditional with no or
  .circleci/config.yml
Due: circle-ci

deletes conditional logic
  .circleci/config.yml
Due: circle-ci

cleans up conditional logic, deletes or
  .circleci/config.yml
Due: circle-ci

initial fails fast implement
  .circleci/config.yml
Due: circle-ci

adds new syntax
  .circleci/config.yml
Due: circle-ci

breaks tests
  src/App.js
Due: test-src

fixes failing tests
  src/App.js
Due: test-src

breaks tests
  .eslintcache
  src/App.js
Due: test-src

fixes tests
  src/App.js
Due: test-src

reduces xl to l and deletes parrallelism
  .circleci/config.yml
Due: circle-ci

deletes gcp
  .circleci/config.yml
Due: circle-ci

adds parrallelism
  .circleci/config.yml
Due: circle-ci

deletes parrallelism
  .circleci/config.yml
Due: circle-ci

changes k8 credentials
  .circleci/config.yml
Due: circle-ci

failing tests
  .circleci/config.yml
  src/App.js
Due: test-src, circle-ci

failing tests
  .circleci/config.yml
Due: circle-ci

failing test
  src/App.js
Due: test-src

deletes parrellelism
  .circleci/config.yml
  src/App.js
Due: test-src, circle-ci

deletes machine
  .circleci/config.yml
Due: circle-ci

Path conditions:
  test-src: any of: src/.*
  back-end: any of: back-end/.*
  circle-ci: any of: .circleci/.*
  kubes: any of: kubernetes/.*
